.sizes {
  margin-top: 8px;
}

.sizes input {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

/* scrollbar */
.tooltip textarea {
  scrollbar-width: thin;
  scrollbar-color: #cfcfcf #010721CC;
}

/* Chrome, Edge, and Safari */
.tooltip textarea::-webkit-scrollbar {
  width: 8px;
}

.tooltip textarea::-webkit-scrollbar-track {
  background: #010721CC;
}

.tooltip textarea::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 5px;
  border: 3px solid #010721CC;
}

.editor-texts {
  width: 500px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-right: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.editor-texts * {
  box-sizing: border-box;
}

.editor-wrapper {
  height: calc(100vh - 88px - 48px);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.editor-texts::-webkit-scrollbar {
  display: none;
}

.editor-texts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-wrapper,
.editor-buttons {
  display: none;
}