:host {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 100px;
  // height: 50%;
}

.pip {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
  
  // rotate: 120deg;
  // background-color: black;
}

.pip-inner {
  background-image: url('../../../../assets/img/circles/pip.png');
  width: 80px;
  height: 80px;
  transform-origin: center center;
  background-size: 316px;

  transition: all .2s ease-in-out;
}

.active {
  transform: translate(0, 10px);
}

.last {

}