.level {
  --width: 200px;
  position: absolute;
  width: var(--width);
  background-color: #212121;
  padding: 8px;
  border: 1px solid gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
  bottom: 0;
  left: calc((100% - var(--width)) / 2);
  text-align: center;
  z-index: 3;

  transition: all .5s ease-in;
}

.hide {
  bottom: -40px;
}