.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 300px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

.up {
  flex-direction: row;

  #logo {
    width: 150px;
  }
}