:host {
  width: 100%;
  text-align: center;
}

.header {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 660px;
}

#logo {
  width: 300px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

.up {
  height: 95px;
  flex-direction: row;

  #logo {
    width: 166px;
  }
}

hr {
  width: 100%;
  height: 2px;
  background-color: gray;
  border: none;
}