:host {
  --cell-size: 46px;
  --proc-one: 15%;
  --proc-two: calc(100% - var(--proc-one));
  --border: 2px;
  max-width: calc(100% - 170px);
}

.short {
  width: 100%;
  display: flex;
  flex-direction: column;  
  overflow-x: scroll;

  .classes, .specs {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
  }

  .specs {
    justify-content: center;
  }
}

.classes, .specs {
  width: 350px;
  text-align: center;
}