<div [class.short]="short">
  <h2 *ngIf="!short">{{language.texts['Choose a class']}}</h2>
  <div class="classes">
    <div class="wrapper relative" *ngFor="let cls of classList" (click)="setClass(cls)">
      <div class="talent" [title]="cls | capitalize" [style.backgroundImage]="specImages[cls+'_class'] | imagePipe"></div>
    </div>
  </div>
  <h2 *ngIf="!short && currentClass">{{language.texts['Choose a spec']}}</h2>
  <div class="specs">
    <div class="wrapper relative" *ngFor="let spec of specList" (click)="getTrees(spec)">
      <div class="talent" [title]="spec | capitalize" [style.backgroundImage]="specImages[currentClass + '_' + spec] | imagePipe"></div>
    </div>
  </div>
</div>
