<div [class.short]="short">
  <h2 *ngIf="!short">{{language.texts['Choose a class']}}</h2>
  <div class="classes">
    <div class="wrapper relative" *ngFor="let cls of classList" (click)="setClass(cls)" [class.max]="cls == menu.class">
      <div class="talent" [title]="cls | capitalize" [style.backgroundImage]="specImages[cls+'_class'] | imagePipe"></div>
    </div>
  </div>
  <h2 *ngIf="!short && menu.class">{{language.texts['Choose a spec']}}</h2>
  <div class="specs">
    <div class="wrapper relative" *ngFor="let spec of specs[menu.class]" (click)="getTrees(spec)" [class.max]="spec == menu.spec">
      <div class="talent" [title]="spec | capitalize" [style.backgroundImage]="specImages[menu.class + '_' + spec] | imagePipe"></div>
    </div>
  </div>
</div>
