:host {
  position: absolute;
  bottom: 30px;
  right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 6px;
}

#lang-list {
  
  font-size: 16px;
  background: none;
  border: none;
  opacity: .2;
  direction: rtl;
  appearance: none;
  cursor: pointer;

  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 1;
  }
}
option {
  background-color: #212121;
  cursor: pointer;
}
a {
  display: block;
  opacity: .2;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 1300px) {
    display:none;
  }
}