.tooltip {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 40px;

  font-family: sans-serif;

  font-size: 13px;
  line-height: 17px;

  // opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
  color: #ffd100;
  z-index: 2;

  padding: 10px;
  margin: 2px;
  border: 1px solid white;
  border-radius: 3px;
  border-top-color: #cfcfcf;
  border-left-color: #777777;
  border-right-color: #777777;
  border-bottom-color: #7f7f7f;
  background-color: #010721CC;

  z-index: 4;
}

hr {
  margin: 12px 0;
}

.title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: calc(300px - 55px);
  margin-bottom: 4px;
}

.descr {
  color: #ffd100;
  font-weight: 100;
}

.hide {
  display: none;
}