header {
  display: flex;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

#logo {
  width: 300px;
  padding: 8px;

  transition: all 0.2s ease-in-out;
}

.header-up {
  flex: unset;
  flex-direction: row;
}

.class-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  max-width: calc(100% - 170px);
}

.classes, .specs {
  text-align: center;
  width: 350px;
}

.specs {
  height: 46px;
}

.v-scroll {
  flex: 1;
  width: 100%;
  height: 42px;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.v-scroll .talent-inline {
  width: 34px;
  height: 34px;
  margin: 4px 2px;
}

.v-scroll .talent-inline::after {
  top: calc(var(--border));
  left: calc(var(--border));
  content: "";
  width: 30px;
  height: 30px;
}

.v-scroll .talent {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.v-scroll::-webkit-scrollbar,
.trees::-webkit-scrollbar {
  display: none;
}

.v-scroll,
.trees {
  -ms-overflow-style: none;
  scrollbar-width: none;
}