.game-ad {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 16px;
  text-align: center;
  padding: 8px;
  font-size: 13px;
  margin-left: 4px;
  margin-bottom: -2px;
  border: 2px solid #a7a7a7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #212121;

  transition: all 0.5s ease-in-out;
}
.game-ad img {
  width: 100%;
}

.show-minigames {
  width: 200px;
  height: 224px;
}

.minigames-title {
  cursor: pointer;
  text-decoration: underline;
}

.minigames-text, .minigames-img {
  display: none;
}