.summary {
  position: fixed;
  bottom: -2px;
  left: calc(50% - 180px);
  border: 2px solid #a7a7a7;
  background-color: #212121;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 18px;
  overflow: hidden;

  transition: all 0.5s ease-in-out;
}

.summary-title {
  font-size: 0.9em;
  cursor: pointer;
}