:root {
  --cell-size: 46px;
  --proc-one: 15%;
  --proc-two: calc(100% - var(--proc-one));
  --border: 2px;
}

.talent-wrapper, .talent-wrapper::after, .talent {
  clip-path: polygon(var(--proc-one) 0%, var(--proc-two) 0%, 100% var(--proc-one), 100% var(--proc-two), var(--proc-two) 100%, var(--proc-one) 100%, 0% var(--proc-two), 0% var(--proc-one));
}

.talent-wrapper {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #508852;
  box-sizing: border-box;
  padding: calc(var(--border));
  cursor: pointer;

  transition: all .2s ease-in-out;
}

.talent-wrapper:hover, .highlight {
  filter: brightness(1.2);
}

.talent-wrapper::after {
  display: block;
  position: absolute;
  top: calc(var(--border));
  left: calc(var(--border));
  content: "";
  width: calc(var(--cell-size) - var(--border) * 2);
  height: calc(var(--cell-size) - var(--border) * 2);
  background: radial-gradient(circle, transparent 0%, transparent 50%, #000000b0 90%);
}

.talent {
  width: calc(var(--cell-size) - var(--border) * 2);
  height: calc(var(--cell-size) - var(--border) * 2);
  background-size: cover;

  position: absolute;
}

.octagon, .octagon::after, .octagon .talent {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.octagon .first {
  clip-path: polygon(30% 0, 50% 0, 50% 0, 50% 100%, 50% 100%, 30% 100%, 0 70%, 0 30%);
}

.octagon .second {
  clip-path: polygon(70% 0, 100% 30%, 100% 70%, 70% 100%, 50% 100%, 50% 100%, 50% 0, 50% 0);
}

.round, .round::after, .round .talent {
  clip-path: none;
  border-radius: 50%;
}

.max {
  background-color: #c0b162;
}

.disabled, .disabled:hover {
  filter: grayscale(1);
}

.talent-divider {
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  top: 5%;
  height: 90%;
  background-color: inherit;
  transform: rotateZ(3deg);
  filter: brightness(1.2);
}

.talent-hide {
  display: none;
}

.talent-inline {
  position: relative;
  display: inline-block;
  margin: 2px;
}

.empty {
  border-color: #a7a7a766;
  background-color: #21212166;
  border-radius: 0;
  border-width: 1px;
  margin-top: 1px;
  margin-left: 1px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  clip-path: none;
}

.empty::after {
  display: none;
}

.talent-div {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.highlight {
  filter: brightness(1.2);
  transform: translateY(-4px);
}

.talent-div.highlight {
  filter: brightness(1.5);
}

h4 {
  margin: 8px 4px;
}

hr {
  width: 100%;
}

.del {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.rank {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;

  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.first, .second {
  pointer-events: none;
  user-select: none;
}