.tooltip {
  position: fixed;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 40px;

  font-family: sans-serif;

  font-size: 13px;
  line-height: 17px;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
  color: #ffd100;
}

.tooltip-header {
  display: flex;
}

.tooltip-show {
  opacity: 1;
  pointer-events: auto;
}

.tooltip-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: calc(300px - 55px);
  margin-bottom: 4px;
}

.tooltip-descr {
  color: #ffd100;
}

.tooltip-rank {
  position: absolute;
  color: #9d9d9d;
  top: 8px;
  right: 8px;
  font-size: 14px;
}

.tooltip-close {
  position: absolute;
  content: 'X';
  color: white;
  display: none;
  top: -12px;
  right: -8px;
  cursor: pointer;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  border: 1px solid #cfcfcf;
}

.tooltip-learn {
  display: none;
  color: #1eff00;
  margin-top: 8px;
}

.tooltip-choose {
  display: none;
  color: #1eff00;
  margin-bottom: 8px;
}

.tooltip-learn-red {
  text-shadow: 0 0 2px #ff0000AA;
  color: #ff0519;
}

.types {
  position: absolute;
  top: -24px;
  left: 0x;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #010721CC;
  padding: 4px;
}

.type {
  display: inline-block;
}

input, textarea {
  background: none;
  color: #ffd100;
  outline: none;
  border: none;
  font-size: 14px;

  resize: none;
}

.title {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-bottom: 4px;
}

.ranks{
  width: 30px;
}

.ranks-calculator {
  display: none;
  width: 54px;
  font-size: 14px;
  text-align: right;
  color: #9d9d9d;
}

.tooltip-controlls {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;

  display: none;
}

.tooltip-rank-up, .tooltip-rank-down {
  width: 40px;
  height: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  border-radius: 8px;
  /* background-color: #ffd100; */
  border: 1px solid white;
  margin-right: 8px;
  cursor: pointer;
}

/* .tooltip-rank-up {
  border-color: green;
}

.tooltip-rank-down {
  border-color: crimson;
} */

.tooltip-rank-up:hover {
  /* border-color: green; */
  background-color: rgba(0, 128, 0, 0.5);
}

.tooltip-rank-down:hover {
  /* border-color: crimson; */
  background-color: rgba(220, 20, 60, 0.5);
}

.tooltip-hr {
  display: none;
  width: 100%;
  height: 1px;
  color: white;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  /* background-color: #a7a7a7; */
  margin: 16px 0;
}