.talent-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  /* opacity: 1;
  pointer-events: none; */
  padding: 8px;
  /* background-color: #727272; */
  border-radius: 8px;

  border-style: solid;
  border-width: 6px;
  border-image: url('../img/tooltip.png') 6 round round;
  background-color: #010721CC;

  /* opacity: 0; */
  /* pointer-events: none; */
  transition: opacity 0.2s ease-in-out;

  width: 350px;
}

.talent-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.levels{
  width: 30px;
}

.talent-info textarea, .talent-info input, .talent-info select {
  color: #ffd100;
  background: none;
  outline: none;
  border: none;
  line-height: 17px;
  font-size: 14px;
}

.talent-info option {
  color: black;
}

.types {
  position: absolute;
  top: -24px;
  left: 0x;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #010721CC;
  padding: 4px;
}

.type {
  display: inline-block;
}