:host {
  // width: 300px;
  height: 480px;
  background-color: #231c13;
  padding: 20px;
}

button {
  color: black;
  padding: 10px;
}

.right {
  margin: 10px;
}

.dial {
  width: 330px;
  height: 330px;
  background-image: url('../../../../assets/img/circles/bg.png');
  background-size: cover;
  position: relative;
}

.dial-anim {
  width: 330px;
  height: 330px;
  background-image: url('../../../../assets/img/circles/alchemy.webp');
  /* background-color: red; */
  /* background-color: black; */
  clip-path: polygon(50% 50%, 50% 100%, 11% 100%, 11% 100%, 11% 100%, 11% 100%);

  transition: all .2s ease-in;
}

.dial-progress {
  --border: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(330px - (var(--border) * 2));
  height: calc(330px - (var(--border) * 2));
  border-radius: 50%;
  /* border: var(--border) dashed #201c18; */

}

.dial-foreground {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../../../assets/img/circles/fg.png');
  background-size: cover;
}

.anim {
  transition: all .7s cubic-bezier(0.34, -0.36, 0.34, 1.36);
}

.big-roll {
  --size: 272px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc((330px - var(--size)) / 2);
  left: calc((330px - var(--size)) / 2);
  background-image: url('../../../../assets/img/circles/big-roll.png');
  background-size: cover;
}

.small-roll,
.small-roll-over {
  width: 142px;
  height: 142px;
  position: absolute;
  top: calc(50% - 71px);
  left: calc(50% - 71px);
}

.small-roll {
  background-image: url('../../../../assets/img/circles/small-roll.png');
}

.small-roll-over {
  background-image: url('../../../../assets/img/circles/small-roll-over.png');
}

.icon {
  --size: 64px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size)/2 + 2px);
  left: calc(50% - var(--size)/2 + 2px);
  background-size: cover;
  border-radius: 50%;
  border: 4px solid #777572;
}

.learned {
  rotate: -180deg;
  scale: .75;
}

.big-roll.learned {
  rotate: 180deg;
  scale: 1;
}

.lock {
  width: 14px;
  height: 20px;
  background-size: cover;
  background-image: url('../../../../assets/img/circles/lock.png');
  position: absolute;
  top: calc(50% + 24px);
  left: calc(50% - 7px);
}