:host {
  --host: 330px;
  --icon: 270px;
  
  width: var(--host);
  height: var(--host);
  background-color: #231c13;
  // padding: 20px;
  box-sizing: content-box;
  display: block;
  position: relative;
}

button {
  color: black;
  padding: 10px;
}

.right {
  margin: 10px;
}

.big-circle {
  width: var(--icon);
  height: var(--icon);
  position: absolute;
  top: calc((var(--host) - var(--icon)) / 2);
  left: calc((var(--host) - var(--icon)) / 2);
}

.dial {
  background-image: url('../../../../assets/img/circles/bg.png');
  background-size: cover;
  position: relative;
}

.dial-anim {
  background-image: url('../../../../assets/img/circles/alchemy.webp'), conic-gradient(transparent 60deg, #0e0d0b 0);
  background-size: cover;
  background-blend-mode: saturation;
  /* background-color: red; */
  /* background-color: black; */
  // clip-path: polygon(50% 50%, 50% 100%, 11% 100%, 11% 100%, 11% 100%, 11% 100%);
  // background-blend-mode: screen;
  transform-origin: center center;
  rotate: 220deg;
  border-radius: 50%;

  transition: all .2s ease-in;
}

.dial-progress {
  --border: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--icon) - (var(--border) * 2));
  height: calc(var(--icon) - (var(--border) * 2));
  border-radius: 50%;
  /* border: var(--border) dashed #201c18; */

}

.dial-foreground {
  background-image: url('../../../../assets/img/circles/fg.png');
  background-size: cover;
}

.anim {
  transition: all .7s cubic-bezier(0.34, -0.36, 0.34, 1.36);
}

.big-roll {
  --roll: calc(var(--icon) * 0.81);
  width: var(--roll);
  height: var(--roll);
  position: absolute;
  top: calc((var(--host) - var(--roll)) / 2);
  left: calc((var(--host) - var(--roll)) / 2);
  background-image: url('../../../../assets/img/circles/big-roll.png');
  background-size: cover;
}

.small-roll,
.small-roll-over {
  --roll: calc(var(--icon) * 0.43);
  top: calc((var(--host) - var(--roll)) / 2);
  left: calc((var(--host) - var(--roll)) / 2);
  width: var(--roll);
  height: var(--roll);
  position: absolute;
  background-size: cover;
}

.small-roll {
  background-image: url('../../../../assets/img/circles/small-roll.png');
}

.small-roll-over {
  background-image: url('../../../../assets/img/circles/small-roll-over.png');
}

.icon {
  --icon: 52px;
  position: absolute;
  width: var(--icon);
  height: var(--icon);
  top: calc(50% - var(--icon)/2);
  left: calc(50% - var(--icon)/2);
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #777572;
  box-sizing: border-box;
}

.learned {
  rotate: -180deg;
  scale: .75;
}

.big-roll.learned {
  rotate: 180deg;
  scale: 1;
}

.lock {
  width: 14px;
  height: 20px;
  background-size: cover;
  background-image: url('../../../../assets/img/circles/lock.png');
  position: absolute;
  top: calc(50% + 16px);
  left: calc(50% - 7px);
}