<div class="dial">
  <div class="dial-anim" [style.clipPath]="path"></div>
  <div class="dial-progress"></div>
  <div class="dial-foreground"></div>
  <div class="big-roll" [class.anim]="anim" [class.learned]="talent?.learned || false"></div>
  <div class="small-roll" [class.anim]="anim" [class.learned]="talent?.learned || false"></div>
  <div class="small-roll-over" [class.anim]="anim" [class.learned]="talent?.learned || false"></div>
  <div class="icon" *ngIf="talent" [style.backgroundImage]="talent.image | imagePipe"></div>
  <div class="lock" *ngIf="talent && !talent.learned"></div>
  <app-profession-pip></app-profession-pip>
</div>
<div *ngIf="talent" style="margin-top: 30px;">
  <button (click)="toggle()">Toggle</button>
  <button id="down" (click)="addRank(-talent.rank)">0</button>
  <button id="down" (click)="addRank(-1)">-</button>
  <div style="display: inline-block;" id="lvl" >{{talent.rank}}/{{talent.ranks}}</div>
  <button id="up" (click)="addRank(1)">+</button>
  <button id="up" (click)="addRank(talent.ranks-talent.rank)">max</button>
</div>