@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;

  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #15202F;
}

.p11_0 {
  background-image: url('/img/bg11.0.webp');
}

h3 {
  @apply text-xl;
  position: relative;
  -webkit-appearance: none;
  
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 4px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  // -webkit-text-stroke: 4px transparent;
  // background-image: linear-gradient(to bottom, #555554, #a7a5a8 10%, #cccbc5 22%, #899090 56%, #696866 78%, #3d3d3d);
  filter: drop-shadow(1px -1px .8px #ffb564) drop-shadow(-1px -1px .8px #ffb564) drop-shadow(1px 1px .8px #fd5909) drop-shadow(-1px 1px .8px #fd5909);

  font-family: 'Noto Serif', serif;
  // font-family: 'Mulish', sans-serif;
  background-image: linear-gradient(to bottom, #360000, #0c0000);
  // background-image: linear-gradient(to bottom, #ffe895, #fd5909);
}