.talent-wrapper {
  --cell-size: 46px;
  --proc-one: 15%;
  --proc-two: calc(100% - var(--proc-one));
  --border: 2px;
}

.talent-wrapper, .talent-wrapper::after, .talent {
  clip-path: polygon(var(--proc-one) 0%, var(--proc-two) 0%, 100% var(--proc-one), 100% var(--proc-two), var(--proc-two) 100%, var(--proc-one) 100%, 0% var(--proc-two), 0% var(--proc-one));
}

.talent-wrapper {
  @apply bg-green-700;

  position: relative;
  display: inline-block;
  width: var(--cell-size);
  height: var(--cell-size);
  // background-color: #203821;
  box-sizing: border-box;
  padding: calc(var(--border));
  cursor: pointer;
  margin: 2px;

  transition: all .2s ease-in-out;
}

.talent-wrapper::after {
  display: block;
  position: absolute;
  top: calc(var(--border));
  left: calc(var(--border));
  content: "";
  width: calc(var(--cell-size) - var(--border) * 2);
  height: calc(var(--cell-size) - var(--border) * 2);
  background: radial-gradient(circle,transparent 0%,transparent 50%,rgba(0,0,0,.69) 90%);
}

.talent {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.round, .round::after, .round .talent, .round .talent::after {
  clip-path: none;
  border-radius: 50%;
}

.octagon {
  --proc-one: 30%;
}

.learned {
  // background-color: #eab308;
  // stroke: #eab308 !important;

  @apply bg-yellow-500 stroke-yellow-500;
}

.gray {
  filter: grayscale(1);
  stroke: gray !important;
}