<div class="title">{{tree.title}} ({{tree.pointsSpent}}/{{tree.pointsTotal}}) <span class="reset" (click)="reset()" title="Reset Tree">❌</span></div>
<div class="divider eight"></div>
<div class="divider twenty"></div>
<div class="tree" [style.width]="cellSize * tree.cols + cellSpace * (tree.cols + 1) + 'px'">
  <ng-container *ngFor="let tal of tree.talents">
    <app-class-connector *ngFor="let child of tal.children" [parent]="tal" [child]="child"></app-class-connector>
  </ng-container>
  <app-class-talent *ngFor="let tal of tree.talents" [talent]="tal"></app-class-talent>
</div>
<div class="pvp-wrapper">
  <app-pvp-list *ngIf="tree.pvpTalents.length" [talents]="tree.pvpTalents"></app-pvp-list>
</div>