<div class="title">{{tree.title}} ({{tree.pointsSpent}}/{{tree.pointsTotal}}) <span class="reset" (click)="reset()" title="Reset Tree">❌</span></div>
<div class="divider eight" [class.max]="tree.points.high>=8"></div>
<div class="divider twenty" [class.gray]="tree.points.high<8" [class.max]="tree.points.mid+tree.points.high>=20"></div>
<div class="tree" [style.width]="cellSize * tree.cols + cellSpace * (tree.cols + 1) + 'px'">
  <ng-container *ngFor="let tal of tree.talents">
    <app-class-connector *ngFor="let child of tal.children" [parent]="tal" [child]="child" [available]="available(child)"></app-class-connector>
  </ng-container>
  <app-class-talent *ngFor="let tal of tree.talents" [talent]="tal" [available]="available(tal)" (click)="changeRank($event, tal)" (contextmenu)="context($event, tal)"></app-class-talent>
</div>
<div class="pvp-wrapper">
  <app-pvp-list *ngIf="tree.pvpTalents.length" [talents]="tree.pvpTalents"></app-pvp-list>
</div>