:host {
  position: relative;
  width: 648px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree {
  height: 717px;
  position: relative;
}

.title {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  width: 380px;
  // position: absolute;
  // top: -16px;
  left: calc(50% - 190px);
  text-shadow: 1px 1px 2px black, -1px -1px 2px black,
    -1px 1px 2px black, 1px -1px 2px black;
}

.pvp-wrapper {
  height: 60px;
  width: 100%;
}

.divider {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed rgba(0, 128, 0, 0.6);
}

.eight {
  top: 315px;
}
.twenty {
  top: 523px;
}

.reset {
  cursor: pointer;
}

.max {
  border-color: #c0b06280;
}

.gray {
  filter: grayscale(1)
}