<h2>{{profession.title}}</h2>
<div class="tabs">
  <div class="tab" *ngFor="let spec of profession.specs; index as i" (click)="openTab(i)" [class.tab-selected]="currentTab == i">
    {{spec.title}}
  </div>
</div>
<div class="spec-wrapper">
  <div class="spec" [style.backgroundImage]="profession.title | imagePipe : true">
    <app-profession-tab *ngFor="let spec of profession.specs; index as i" [class.hidden]="currentTab !== i" [spec]="spec" [(selected)]="selected"></app-profession-tab>
  </div>
  <app-profession-side [talent]="selected" (recount)="recount()"></app-profession-side>
</div>