@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');

:host {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2121219a;

  * {
    font-family: 'Literata', serif;
  }
}

.spec {
  width: 720px;
  height: 480px;
  background-color: #282018;
  border: 2px solid #080202;
  position: relative;
  background: radial-gradient(rgba(37, 29, 20, 1) 0%, rgba(38, 28, 20, 1) 50%, rgba(20, 14, 9, 1) 100%);
}

.hidden {
  display: none;
}

.tabs {
  width: 720px;
}

.tab {
  display: inline-block;
  margin: 0 8px;
  padding: 4px 12px 8px;
  font-size: 11px;

  // background-color: black;
  background-color: #271f17;
  border: 2px solid #080202;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  cursor: pointer;
  color: #b6a54e;

  transition: box-shadow .2s ease;
}

.tab-selected {
  // background-color: black;
  background-color: #271f17;
  box-shadow: inset 0 0 2px 2px gold;
  color: white;
  position: relative;

  &:before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 2px;
    height: 6px;
    background-color: #271f17;
    content: "";
  }
}

.details {
  position: absolute;
  display: flex;
  height: 70px;
  bottom: 0;
  left: calc(360px - 230px);
  width: 100%;
  padding: 4px;
  width: 460px;
  gap: 8px;
}

.progressbar {
  position: relative;
  width: 400px;
  height: 20px;
  background-color: #5c5c5c;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
}

.current {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 20px;
  border-radius: 4px;
  background-color: green;

  transition: width .5s ease;
}

.rank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.image {
  margin-top: 2px;
  width: 46px;
  height: 46px;
  border: 2px solid green;
  border-radius: 4px;
  background-size: cover;
  border-radius: 50%;
}

.bonuses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bonus-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.bonus {
  position: relative;
  width: 26px;
  height: 26px;
  border: 2px solid green;
  border-radius: 4px;
  background-image: url("https://wow.zamimg.com/images/wow/icons/medium/spell_chargepositive.jpg");
  background-size: cover;

  &::after {
    display: block;
    position: absolute;
    top: -12px;
    left: calc(50% - 2px);
    width: 4px;
    height: 12px;
    content: "";
    background-color: green;
  }

  &:first-child::after {
    left: -2px;
  }

  &:last-child::after {
    left: unset;
    right: -2px;
  }
}

.gray {
  filter: grayscale(1);
}

h2 {
  font-family: sans-serif !important;
}