.wrapper {
  --cell-size: 50px;
  padding: 4px;
  width: 56px;
  height: 56px;
  border: 1px solid black;
  box-shadow: none;
}

.wrapper::after {
  background: none;
}

.talent {
  border: 1px solid black;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  // background-image: conic-gradient(green 60deg, #363633 0);
  transform-origin: center center;
  rotate: 180deg;
}