.prof {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: green;
  background-size: cover;
  margin: 2px;
  cursor: pointer;
}

.profs {
  width: 350px;
  text-align: center;
}