.connection {
  position: absolute;
  background-color: green;
  transform-origin: center left;
  height: 2px;
}

.arrow {
  transform-origin: center right;
  position: absolute;
  right: 25px;
  top: 0;
  height: 2px;
  width: 6px;
  background-color: green;

}

.up {
  transform: rotateZ(-30deg);
}

.down {
  transform: rotateZ(30deg);
}