<div class="pvp">
  <div class="title">{{language.texts['PvP Talents']}}: </div>
  <div style="width: 150px;height:60px;position:relative" #sel>
    <div class="mockups">
      <div class="wrapper relative octagon" *ngFor="let _ of blank">
        <div class="talent"></div>
      </div>
    </div>
    <div class="wrapper relative max octagon" *ngFor="let talent of selected; index as i" (contextmenu)="toggleTalent($event, talent)" [appTooltip]="getTooltip(i)" #wrapper>
      <div class="talent" [style.backgroundImage]="talent.image | imagePipe"></div>
    </div>
  </div>
  <div class="list" [class.hide]="!showList" #list>
    <app-pvp-talent *ngFor="let talent of talents" [talent]="talent" (click)="toggleTalent($event, talent)"></app-pvp-talent>
  </div>
</div>

<!-- (click)="showList = !showList" -->