:host {
  --cell-size: 46px;
  --proc-one: 15%;
  --proc-two: calc(100% - var(--proc-one));
  --border: 2px;
}

.octagon .first {
  clip-path: polygon(30% 0, 50% 0, 50% 0, 50% 100%, 50% 100%, 30% 100%, 0 70%, 0 30%);
}

.octagon .second {
  clip-path: polygon(70% 0, 100% 30%, 100% 70%, 70% 100%, 50% 100%, 50% 100%, 50% 0, 50% 0);
}

.disabled, .disabled:hover {
  filter: grayscale(1);
}

.divider {
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  top: 5%;
  height: 90%;
  background-color: inherit;
  transform: rotateZ(3deg);
  filter: brightness(1.2);
}

.first, .second {
  pointer-events: none;
  user-select: none;
}

.rank {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;
  pointer-events: none;
  user-select: none;
  z-index: 2;
  padding: 1px;
}