@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  font-family: 'Montserrat', sans-serif;
}

.talents-wrapper {
  flex: 1;
  padding: 8px;
}
.talents {
  position: relative;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}

.talent {
  position: absolute;
  /* background-color: darkgray; */
  border: 1px solid lightgray;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-size: cover;

  transition: all 0.2s ease-in-out;
}

.filled {
  border-radius: 4px;
  border-color: goldenrod;
}

#links {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tree {
  width: 100%;
  height: 100%;
}

.selected {
  border-color: goldenrod;
  border-width: 4px;
  margin-left: -3px;
  margin-top: -3px;
}

.talent-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  opacity: 1;
  pointer-events: none;
  padding: 8px;
  /* background-color: #727272; */
  border-radius: 8px;

  border-style: solid;
  border-width: 6px;
  border-image: url('img/tooltip.png') 6 round round;
  background-color: #010721CC;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.round {
  border-radius: 50%;
}

.hexagon {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.hexagon::before {
  content: "";
  /* background-color: #fff; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  z-index: -1;
}

.level {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;
}

.controls {
  position: fixed;
}

.arrows {
  position: fixed;
  width: 42px;
  opacity: 0;
  pointer-events: none;
  /* height: 42px; */
  /* border: 1px solid #212121; */

  transition: opacity 0.2s ease-in-out;
}

.left, .right, .up, .doubleup {
  position: absolute;
  cursor: pointer;
}

.left {
  left: -16px;
  top: -16px;
}

.right {
  right: -16px;
  top: -16px;
}

.up {
  left: 12px;
  top: -16px;
}

.doubleup {
  left: 12px;
  top: -32px;
}

textarea {
  resize: none;
}

.talent-info textarea, .talent-info input, .talent-info select {
  color: #ffd100;
  background: none;
  outline: none;
  border: none;
  line-height: 17px;
  font-size: 14px;
}

.talent-info option {
  color: black;
}