@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;

  /* transition: all .5s ease-in-out; */
}

.lang-select-wrapper {
  position: absolute;
  left: 164px;
  bottom: 12px;
  display: none;
  z-index: 1;
}

.lang-select {}

@media (max-width: 800px) {
  .lang-select-wrapper {
    position: absolute;
    left: 30px;
    bottom: -16px;
  }
}

.lang {
  width: 24px;
  height: 24px;
  border: 2px solid #42a841;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  background-size: cover;
}

.lang:hover {
  filter: brightness(120%);
}

.wrapper {
  width: 620px;
  height: 620px;
  border: 1px solid white;
  position: relative;
}

.talent {
  width: 42px;
  height: 42px;
  /* border: 2px solid goldenrod; */
  border: 2px solid #42a841;
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  background-size: cover;

  transition: all 0.2s ease-in-out;
}

.talent:hover,
.class:hover,
.spec:hover {
  filter: brightness(1.2);
}

.round {
  border-radius: 50%;
}

#links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.class-selector {
  flex: 1;
  text-align: center;
  width: 320px;
}

.class,
.spec {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-size: cover;
  border: 2px solid #42a841;
  border-radius: 8px;
  margin: 0 4px;

  cursor: pointer;
}

.inactive {
  filter: grayscale(100%);
  cursor: default;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 0 4px;
}

.version {
  display: inline-block;
  margin: 0 4px;
}

.trees {
  flex: 1;
  overflow: auto;
  height: 717px;
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 18px;
  border-top: 2px solid gray;

  justify-content: space-evenly;
  align-items: center;

  background-position: top right;
  background-repeat: no-repeat;
}

@media (max-width: 1330px) {
  .trees {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 36px;
    padding-top: 32px;
  }
}

@media (max-width: 700px) {
  .trees {
    align-items: flex-start;
  }
}

@media (min-width: 1331px) and (max-height: 850px) {
  .trees {
    padding-top: 32px;
    align-items: flex-start;
  }
}

@media (min-width: 1550px) {
  .trees {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.tree {
  position: relative;
  display: inline-block;
}

.level {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;

  pointer-events: none;
}

.spec-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 650px;
  height: 717px; */

  vertical-align: top;
}

/* 
#spec-tree {
  display: none;
} */

.spec-name {
  width: 340px;
  position: absolute;
  top: -16px;
  left: calc(50% - 170px);
  text-shadow: 1px 1px 2px black, -1px -1px 2px black,
    -1px 1px 2px black, 1px -1px 2px black;
}

.disabled,
.disabled:hover,
.inactive:hover {
  filter: grayscale(100%);
}

.max {
  /* border-color: #42a841; */
  border-color: #d8b30b;
}

canvas {
  pointer-events: none;
}

.level-required {
  height: 36px;
  line-height: 36px;
  position: fixed;
  bottom: -38px;
  background-color: #212121;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #a7a7a7;
  border-bottom: none;

  transition: bottom 0.5s ease-in-out;
}

@media (max-width: 800px) {
  .links {
    display: none;
    width: 100%;
    position: relative;
    top: 28px;
    right: 0;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
  }
}

a {
  text-decoration: none;
  color: goldenrod;
}

.tooltip-border {
  padding: 8px;
  border-radius: 8px;

  border-style: solid;
  border-width: 6px;
  border-image: url('/img/tooltip.png') 6 round round;
  background-color: #010721CC;
}

.choose-text {
  margin-bottom: 16px;
  font-size: 1.3em;
}

.trees::-webkit-scrollbar {
  display: none;
}

.trees {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select {
  background-color: #212121;
  border: none;
  color: white;
  direction: rtl;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-size: 1em;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
}

.editor-wrapper {
  display: none;
  flex: 1;
  width: 100%;
  border-top: 2px solid gray;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow: scroll;
}

.editor-wrapper::-webkit-scrollbar {
  display: none;
}

.editor-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  background: none;
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background: linear-gradient(#580201, #590201, #9c0c0a);
  border: 2px solid #757575;
  cursor: pointer;

  height: 36px;
  margin: 16px 0;
  padding: 8px 16px;

  text-shadow: 1px 1px 2px black, -1px -1px 2px black,
  -1px 1px 2px black, 1px -1px 2px black;
}

button:hover {
  background: linear-gradient(#9c0c0a, #590201, #580201);
}