@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;

  -ms-overflow-style: none;
    scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
  
  // .editor-wrapper {
    
  // }
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  background-color: #212121;
  background-image: url('./assets/img/bg.webp');
  background-size: cover;
  background-position: center center;
}

#version {
  position: fixed;
  bottom: 4px;
  right: 8px;
  opacity: .2;

  transition: opacity .2s ease-in;

  &:hover {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

h2,
h3 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 4px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #555554, #a7a5a8 10%, #cccbc5 22%, #899090 56%, #696866 78%, #3d3d3d);
  filter: drop-shadow(0 0 2px rgb(54, 54, 54))
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.disabled {
  filter: grayscale(1);
  pointer-events: none;
  cursor: default;
}