@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;

  transition: all .5s ease-in-out;
}

.lang-select-wrapper {
  position: absolute;
  left: 164px;
  bottom: 12px;
  display: none;
}

.lang-select {}

@media (max-width: 800px) {
  .lang-select-wrapper {
    position: absolute;
    left: 30px;
    bottom: -16px;
  }
}

.lang {
  width: 24px;
  height: 24px;
  border: 2px solid #42a841;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  background-size: cover;
}

.lang:hover {
  filter: brightness(120%);
}

.wrapper {
  width: 620px;
  height: 620px;
  border: 1px solid white;
  position: relative;
}

.talent {
  width: 42px;
  height: 42px;
  /* border: 2px solid goldenrod; */
  border: 2px solid #42a841;
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  background-size: cover;

  transition: all 0.2s ease-in-out;
}

.talent:hover,
.class:hover,
.spec:hover {
  filter: brightness(1.2);
}

.round {
  border-radius: 50%;
}

#links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.class-selector {
  flex: 1;
  text-align: center;
  width: 320px;
}

.class,
.spec {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-size: cover;
  border: 2px solid #42a841;
  border-radius: 8px;
  margin: 0 4px;

  cursor: pointer;
}

.inactive {
  filter: grayscale(100%);
  cursor: default;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 0 4px;
}

.version {
  display: inline-block;
  margin: 0 4px;
}

.trees {
  flex: 1;
  overflow: auto;
  height: 717px;
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 36px;
  border-top: 2px solid gray;

  background-position: top right;
  background-repeat: no-repeat;
}

.tree {
  position: relative;
  display: inline-block;
}

.level {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;

  pointer-events: none;
}

.spec-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 650px;
  height: 717px; */

  vertical-align: top;
}

/* 
#spec-tree {
  display: none;
} */

.spec-name {
  width: 340px;
  position: absolute;
  top: -4px;
  left: calc(50% - 170px);
}

.class-selector-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  max-width: calc(100% - 170px);
  /* padding-bottom: 100px; */
}

.disabled,
.disabled:hover,
.inactive:hover {
  filter: grayscale(100%);
}

.learned {
  border-color: #d8b30b;
}

.max {
  /* border-color: #42a841; */
  border-color: #d8b30b;
}

canvas {
  pointer-events: none;
}

.header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: all 0.2s ease-in-out;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.level-required {
  height: 36px;
  line-height: 36px;
  position: fixed;
  bottom: -38px;
  background-color: #212121;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #a7a7a7;
  border-bottom: none;

  transition: bottom 0.5s ease-in-out;
}

@media (max-width: 800px) {
  .links {
    display: none;
    width: 100%;
    position: relative;
    top: 28px;
    right: 0;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
  }
}

a {
  text-decoration: none;
  color: goldenrod;
}

.classes,
.specs {
  text-align: center;
}

.specs {
  height: 46px;
}

#logo {
  transition: all 0.2s ease-in-out;
}

.tooltip-border {
  padding: 8px;
  border-radius: 8px;

  border-style: solid;
  border-width: 6px;
  border-image: url('/img/tooltip.png') 6 round round;
  background-color: #010721CC;
}

.choose-text {
  margin-bottom: 16px;
  font-size: 1.3em;
}

.v-scroll {
  /* display: flex; */
  flex: 1;
  width: 100%;
  height: 42px;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.v-scroll .talent {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.v-scroll::-webkit-scrollbar,
.trees::-webkit-scrollbar {
  display: none;
}

.v-scroll,
.trees {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select {
  background-color: #212121;
  border: none;
  color: white;
  direction: rtl;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-size: 1em;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
}