@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 620px;
  height: 620px;
  border: 1px solid white;
  position: relative;
}

.talent {
  width: 42px;
  height: 42px;
  border: 2px solid goldenrod;
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  background-size: cover;

  transition: all 0.2s ease-in-out;
}

.talent:hover, .class:hover, .spec:hover {
  filter: brightness(1.2);
}

.round {
  border-radius: 50%;
}

.hexagon {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

#links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.class-selector {
  flex: 1;
  text-align: center;
  width: 320px;
}

.class, .spec {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-size: cover;
  border: 2px solid goldenrod;
  border-radius: 8px;
  margin: 0 4px;

  cursor: pointer;
}

.inactive {
  filter: grayscale(100%);
  cursor: default;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 0 4px;
}

.version {
  display: inline-block;
  margin: 0 4px;
}

.trees {
  flex: 1;
  overflow: auto;
  height: 717px;
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 36px;
}

.tree {
  position: relative;
  display: inline-block;
}

.level {
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background-color: #212121;

  pointer-events: none;
}

.spec-selector {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 717px;

  vertical-align: top;
}

#spec-tree {
  display: none;
}

.spec-name {
  width: 200px;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  text-transform: capitalize;
}

.class-selector-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 100px; */
}

.disabled, .disabled:hover, .inactive:hover {
  filter: grayscale(100%);
}

.learned {
  border-color: #d8b30b;
}

.max {
  border-color: #42a841;
}

canvas {
  pointer-events: none;
}

.header {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.level-required {
  height: 36px;
  line-height: 36px;
  position: fixed;
  bottom: -38px;
  background-color: #212121;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #a7a7a7;
  border-bottom: none;

  transition: bottom 0.5s ease-in-out;
}

@media (max-width: 800px) {
  .links {
    position: absolute;
    top: 28px;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }
}