:host {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: auto;
  gap: 4px;

  @media (max-width: 1630px) {
    padding: 0 0;
  }

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 36px;
    padding-top: 32px;
  }

  @media (max-width: 648px) {
    align-items: start;

    // * {
    //   transform: scale(.8);
    // }
  }
}