.title {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 15px;
  letter-spacing: 1.2px;
}

.descr {
  position: absolute;
  left: 20px;
  top: 36px;
  width: 260px;
  font-size: 9px;
  color: #b6a54e;
}